{% extends "layout.html" %} {% block navbar %}
<ul class="navbar-nav  mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/un_texto_plano">Texto plano</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/un_texto_html">Texto html <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/una_imagen">Imágen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Base de Datos</a>
    </li>
</ul>
<ul class="nav navbar-nav ml-auto justify-content-end">
    <li class="nav-item">
        <a class="btn btn-danger" href="/logout" role="button">Cerrar sesión</a>
    </li>
</ul>
{% endblock %} {% block content %}
<p>
    {{ texto | safe }}
</p>
{% endblock %}
